<section class="content-header">
	<h1>Terms of Use <small></small></h1>
</section>
<section class="content container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body" style="">
					<h3>1. Terms</h3>
					<p>By accessing the website, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
					<h3>2. Disclaimer</h3>
					<p>The materials on the website are provided on an 'as is' basis. The website makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</p>
				</div>
			</div>
		</div>
	</div>
</section>
