<section class="content-header">
	<h1><small></small></h1>
</section>
<section class="content container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<h4><i class="icon fa fa-ban"></i> Address Not Found</h4>
				Sorry, but the wallet address you are looking for can't be found.
			</div>
		</div>
	</div>
</section>
